*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

:root{
    --x:400px;
    --y:400px;
}

body{
    background: url('https://images.pexels.com/photos/34302395/pexels-photo-34302395.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}
#box{
    height: 100%;
    width: 100%;
    background: radial-gradient(150px at var(--x) var(--y),rgba(255, 255, 255, 0.398),rgba(0, 0, 0, 0.527));
}