*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html body{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 100vh;
    background-color: black;
    
}

.card{
width: 300px;
height: fit-content;
background-color: rgba(178, 236, 236, 0.541);
border-radius: 10px;
text-align: center;
padding: 10px 10px;
margin-top: 20px;

}

.card img{
    width: 150px;
    border: 3px solid rgba(251, 255, 0, 0.377);
    border-radius: 50%;
    margin-bottom: 15px;
}

.card h1{
    color: black;
}

.card h2{
    color: crimson;
}