*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


    html, body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cards start from top */
    background-color: black;
    padding-top: 25px;
    padding-left: 20px;

}

    


#container{
    display: flex;
    flex-wrap:wrap;
    gap: 25px;
    overflow: auto;
    position: relative;
    z-index: 999;
    
}

.card{
    width: 300px;
    height:auto;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #f9f9ff;
    text-align: center;
    padding: 15px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.card img{
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 20px auto;   /* centers image */
}

.card h1{
    color: crimson;
}
.card h2{
    color: rgba(46, 128, 73, 0.861);
}
.card p{
    color: rgb(46, 35, 35);
}